.divPlayButton {
  text-align: center;
}

.playButton {
  background-color: #c21010;
  color: white;
  padding: 20px 60px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
}

.cardBodyPlay {
  margin: 1% 20%;
  height: 100%;

  text-align: center;
}

.namePlay {
  font-weight: bold;
  font-size: 30px;
  line-height: 250%;
}

.playImg {
  width: 400px;
  height: 200px;
  border: 1px solid black;
}

.questionPlay {
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 2%;
}

.optionsPlay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.optionsPlay > div {
  width: 40%;
  height: 100px;
  line-height: 600%;
  text-align: center;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  border: 5px solid;
}

.succes {
  background-color: green;
}

.failure {
  background-color: #c21010;
}

.correctAnswers {
  margin-top: 20px;
  font-weight: 700;
}